@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* nav style */

.r-color{
   color: rgb(255, 124, 76); 
}
.nav-title{
    font-weight: bold;
    font-size: 50px;
    font-family: Open Sans;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px ;

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-family: Open Sans;
    font-weight: 700;
    color: rgb(255, 124, 76);
}
/* button style */
.btn-primary{
    color: antiquewhite;
    background-color:rgb(255, 124, 76) ;
    padding:8px 14px;
    border: none;
    border-radius: 7px;
    font-family: Open Sans;
    font-weight: 700;
    cursor: pointer;
}
.download-button{
    text-align: center;
    margin-top: 40px;
}
/* banner style */
.banner{
    display:flex;
    justify-content: space-between;
    margin: 0 130px;
    align-items: center;
    font-size: Open Sans;
}
.banner-img{
    width: 500px;
    height: 550px;
    margin-top: 80px;
     
}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    
}
/* main style */
main{
    max-width: 1100px;
    margin: 0px auto;
    
}
/* about section */
.about{
padding: 130px 80px;
margin-top:50px ;
border-radius: 6px;



}
.about-border{
    border: 3px solid rgb(49, 40, 40);
    text-align: center;
}
.section-title{
    text-align: center;
    font-size: 32px;
    font-family: Open Sans;
    font-weight: 700;
}
.section-description{
    font-family: Open Sans;
    opacity: .7;
}
.secondary-bg{
    background-color: rgba(255, 248, 243, 1);

}
/* about items */
.about-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-items{
    font-family: Open Sans;
}
.item-title{
    opacity: .6;
}
.item-content{
    font-weight: 700;
    font-size: 15px;
}
/* skills style */
.skill-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top:40px;

}
.skill-content{
    box-shadow: 0px 6px 10px rgb(232, 207, 207);
    padding:15px;
    height: 300px;
    margin-left: 15px;
}
    
.skill-title{
    font-size: 32px;
    font-family: Open Sans;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}
.skill-description{
    opacity: .7;
    font-size: 18px;
}
/* resume style */
.resume{
    margin-top: 100px;
}
.resume-container{
    display: flex;
    gap: 30px;
}
.resume-title{
    text-align: center;
    font-size: 32px;
    font-family: Open Sans;
}

.resume-column{
    font-size: 20px;
    font-family: Open Sans;  
}
.exparience-description{
    opacity: .7;
}
.text-center{
    text-align: center;
}
/* Footer style */
.web-footer{
    display: flex;
    margin-top: 60px;
    gap: 30px;
    background-color: rgba(255, 248, 243, 1);
    padding: 50px 70px;
    border-radius: 7px;
    
    
}
.footer-column{
width:50%;
}
.footer-description{
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: .7;
}
footer input[type="text"],footer input[type="Email"],footer textarea{

padding:7px 10px;
border-radius: 8px;
border: none;
margin-bottom: 20px;
text-align: center;
display: block;
font-family: Open Sans;
width: 100%;
opacity: .7;
}
.footer-title{
    font-size: 32px;
    font-weight: 700;
    font-family: Open Sans;
}
.img-box img{
    margin-top: 15px;
    margin-right: 15px;
}
